NODE_ENV=

HOST=0.0.0.0
PORT=3000

DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=3306
DB_MIN_CONNECTIONS=
DB_MAX_CONNECTIONS=
PG_CONNECTION_STRING="postgres://postgres@localhost/arektacoinpg"

S3_ENDPOINT = "https://<namespace>.compat.objectstorage.<region>.oraclecloud.com"
S3_REGION = "<region>"
S3_NAMESPACE = "<namespace>"
S3_BUCKET = "<bucket>"
S3_USERNAME = 
S3_ACCESS_KEY =
S3_SECRET_PASSWORD =

REDIS_URL=127.0.0.1
REDIS_PORT = 6379

MAILER_HOST = 
MAILER_PORT = 465
# true for TLS
MAILER_SECURE = true
MAILER_USER =
MAILER_PASSWORD =
DEFAULT_MAILER_FROM = 
DEFAULT_MAILER_SUBJECT = 